* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html , body { 
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(138, 134, 134);
    color: black;
}
header {
    height: 13vh;
    width: 100%;
    background-color: rgb(166, 162, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3%;
}
header h1 {
    width: 30%;
    font-size: 2.3vmax;
    font-weight: 800;
}
.btns {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    font-size: 1.5vmax;
    padding: 1% 3%;
    background-color: rgb(138, 134, 134);
    border: none;
    border-radius: 30%;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(166, 162, 162);
    box-shadow: 20px 2px 5px black;
}
footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(166, 162, 162);
    color: black;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 2vmax;
}
main{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h2{
    margin-top: 5%;
}
form {
    margin-top: 3%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.form-section {
    border-radius: 20px;
    box-shadow: 4px 4px 5px black;
    padding: 3%;
    width: 100%;
    height: 30vh;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0% 2%;
}
.form-section h3{
    text-align: center;
}
.form-section input{
    height: 4vh;
    text-align: center;
}
@media (max-width:600px) {
    body{
        min-height: 100vh;
    }
    header h1{
        width: 25%;
        font-size: 1.9vmax;
    }
    header .btns{
        width: 75%;
    }
    .btn {
        margin: 0% 1%;
        width: 25%;
        font-size: 1.7vmax;   
    }
    footer{
        font-size: 2vmax;
    }
    main{
        height: 140vh;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .form-section {
         margin: 4% 0%;
    }
}
.form-section button{
         font-size: 1.4vmax;
         padding: 1% 3%;
         border: none;
         border-radius: 20px;
    }
.form-section input:hover{
    background-color: black;
    color: white;
}