* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html , body { 
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(138, 134, 134);
    color: black;
}
header {
    height: 13vh;
    width: 100%;
    background-color: rgb(166, 162, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3%;
}
header h1 {
    width: 30%;
    font-size: 2.3vmax;
    font-weight: 800;
}
.btns {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    font-size: 1.5vmax;
    padding: 1% 3%;
    background-color: rgb(138, 134, 134);
    border: none;
    border-radius: 30%;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(166, 162, 162);
    box-shadow: 20px 2px 5px black;
}
.category {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
}
.category h2 {
     text-align: center;
     text-transform: capitalize;
     font-size: 1.9vmax;
}
#categorycontainer {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
#card {
    margin: 2%;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 85vh;
    border: 3px solid black;
    align-items: center;
}
#card img{
    height: 70%;
    width: 100%;
}
#card h1{
    font-weight: 600;
    color: rgb(86, 82, 82);
}
#card span{
    color: black;
    font-weight: 800;
}
footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(166, 162, 162);
    color: black;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 2vmax;
}
@media (max-width:600px) {
    header h1{
        width: 25%;
        font-size: 1.9vmax;
    }
    header .btns{
        width: 75%;
    }
    .btn {
        margin: 0% 1%;
        width: 25%;
        font-size: 1.7vmax;   
    }
    #category h2{ 
        font-size: 2.2vmax;
    }
    #categorycontainer{
        display: flex;
        flex-direction: column;
    }
    #card{
        width: 90%;
        padding: 5%;
    }
    footer{
        font-size: 2vmax;
    }
}