* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html , body { 
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(138, 134, 134);
    color: black;
}
header {
    height: 13vh;
    width: 100%;
    background-color: rgb(166, 162, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3%;
}
header h1 {
    width: 30%;
    font-size: 2.3vmax;
    font-weight: 800;
}
.btns {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    font-size: 1.5vmax;
    padding: 1% 3%;
    background-color: rgb(138, 134, 134);
    border: none;
    border-radius: 30%;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(166, 162, 162);
    box-shadow: 20px 2px 5px black;
}
footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(166, 162, 162);
    color: black;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 2vmax;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77vh;
}
#loginform {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
}
#loginform input{
    width: 50%;
    height: 15%;
    font-size: 1.8vmax;
    text-align: center;
}
#loginform button{
    font-size: 3vmax;
    font-family: cursive;
    padding: 3% 4%;
    border: none;
    border-radius: 10%;
}
@media (max-width:600px) {
    header h1{
        width: 25%;
        font-size: 1.9vmax;
    }
    header .btns{
        width: 75%;
    }
    .btn {
        margin: 0% 1%;
        width: 25%;
        font-size: 1.7vmax;   
    }
    footer{
        font-size: 2vmax;
    }
    #loginform input{
          width: 100%;
    }
}